---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Koo's Wigs";
---
<BaseLayout pageTitle={pageTitle}>
	<div id="hero">
		<h1 id="title">{pageTitle}</h1>	
		<h1 id="motto">Clean. Quick. Quality.</h1>
		<h2 id="description">Hair solutions and styling for any occasion, for a price that works for you</h2>
	</div>
	<div id="solutions">
		<h1>Solutions</h1>
		<h2>We do everything to make you look and feel your best</h2>
	</div>
	<div id="stylings">
		<h1>Styling</h1>
		<h2>Our cosmological professionals do your hair your way</h2>
	</div>
</BaseLayout>
<style>
	#hero {
		display: flex;
		flex-direction: column;
		place-items: flex-start;

		padding: 0;
		margin: 0;
		width: 100%;
		height: 200px;


		background-image: url('../assets/logo_background.jpeg');
		background-position: center;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	#title {
		color: black;
		font-family: 'Times New Roman', Times, serif;
		font-size: 1rem;
		height: auto;
		margin: 0;
	}

	#motto {
		font-size: 1.3rem;
	}

	#description {
		font-size: 1rem;
	}
</style>