---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Koo's Wigs";
---
<BaseLayout pageTitle={pageTitle}>
	<div id="banner">
		<h1 id="title">{pageTitle}</h1>	
	</div>
	<h2>hi</h2>
</BaseLayout>