---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
const pageTitle = "Koo's Wigs";
---

<BaseLayout pageTitle={pageTitle}>
    <Hero />
    <div id="solutions">
        <h1>Solutions</h1>
        <h2>We do everything to make you look and feel your best</h2>
    </div>

    <div id="stylings">
        <h1>Styling</h1>
        <h2>Our cosmological professionals do your hair your way</h2>
    </div>
</BaseLayout>
<style></style>
