---
import './global.css'
const pageTitle = "Koo's Wigs";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<div id="banner">
			<h1 id="title">{pageTitle}</h1>	
		</div>
		<h2>hi</h2>
	</body>
</html>