---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
const pageTitle = "Koo's Wigs";
---

<BaseLayout pageTitle={pageTitle}>
    <Hero />
    <div class="products">
        <div class="solutions">
            <h1>Solutions</h1>
            <h2>
                We do everything to make you look and feel your best. We offer
                everything from 100% human hair and lace front to products for
                men and children. Anything to match the occasion and pricepoint!
            </h2>
        </div>

        <div class="stylings">
            <h1>Styling</h1>
            <h2>
                Our cosmological professionals do your hair your way. Our
                services include:
            </h2>
            <div class="service-list">
                <ul>
                    <li>Cuts</li>
                    <li>Braids</li>
                    <li>Rows</li>
                </ul>
                <ul>
                    <li>Perms</li>
                    <li>Nails</li>
                    <li>And More...</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="careers">
        <h1>Careers</h1>
        <h2>
            We have chairs and rooms open! <br />For career inquiries, email:<br
            />Shyekoo@gmail.com
        </h2>
    </div>


</BaseLayout>
<style>
    .products {
        margin-inline: 5vw;
    }

    .careers {
        margin-inline: 5vw;
    }
    .stylings h2 {
        margin-bottom: 0;
    }
    .service-list {
        display: flex;
        flex-direction: row;
        justify-content: left;
        margin: 0;
        font-size: 1.4em;
    }
</style>
