<div class="careers">
    <h1>Careers</h1>
    <h2>
        We have chairs and rooms open! <br />For career inquiries:<br />
        <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSeCyMFV7T5Al6lTd_GOJb8OkeHV2jk7zuO22v3I9bNLyvVQpg/viewform?usp=dialog"
            target="_blank"
        >
            <h3 class="career-form">Click here</h3>
        </a>
    </h2>
</div>

<style>
    .careers {
        margin-inline: 5vw;
    }
    a {
        text-decoration: none;
        color: black;
    }

    .career-form {
        display: inline-block;
        border-style: solid;
        border-width: thin;
        border-radius: 0.5em;
        padding: 0.3em;
        margin: 0;
        box-shadow: inset;
    }
</style>
