---
---
<footer class="Footer">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <address>
        Address<br>
        Address<br>
        Address
    </address>
</footer>
<style>
    .Footer {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        background-color: gray;
        height: 3em;

        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    a {
        font-size: .3em;
        color: blue;
        text-decoration: none;
    }
    ul {
        padding-top: .2%;
        padding-left: 1.5%;
        font-size: .1em;
        margin: 0;
    }
    address {
        font-size: .5em;
        padding-top: .2%;
        padding-right: 1.5%;
    }
</style>