---
const address = "westfield wheaton maryland";
const mapsUrl = `https://www.google.com/maps/search/?api=1&query=${encodeURIComponent(address)}`;
---

<footer class="Footer">
    <div class="contact-info">
        <address>
            <a href={mapsUrl} class="wheaton" target="_blank">
                11160 Veirs Mill Rd<br />
                Wheaton, MD 20902<br />
            </a>
            <a class="phone-number" href="tel:3019334522">(301) 933-4522</a>
        </address>
        <div class="hours">
            Mon-Thur 10AM-8PM<br />
            Fri-Sat 10AM-9PM<br />
            Sunday 10AM-7PM<br />
        </div>
    </div>

    <div class="copyright">
        &copy; 2026 Koo's Wigs & Design. All Rights Reserved.
    </div>
</footer>
<style>
    .Footer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        background-color: #363636;
        height: 15vh;

        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;

        color: white;
    }
    nav {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin-bottom: 1vh;
    }
    a {
        font-size: 1.5em;
        color: white;
        text-decoration: none;
    }
    .contact-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 90%;
        margin-top: 1vh;
    }
    address {
        font-size: 1em;
    }
    .wheaton {
        font-size: 1em;
    }
    .phone-number {
        font-size: 1em;
    }

    .copyright{
        font-size: .7em;
    }
</style>
