---
import Hamburger from "./Hamburger.astro";
---

<header class="header">
    <Hamburger />
    <div class="nav-links">
        <nav><a href="/">Home</a></nav>
        <nav><a href="/about">About</a></nav>
        <nav><a href="/faq">FAQ</a></nav>
        <nav><a href="/contact">Contact</a></nav>
    </div>
    <img src="/koo_salon.svg" alt="Koo salon logo" class="logo"/>
</header>

<style>
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(128, 128, 128, 0.5);

        position: relative;
        top: 0;
        left: 0;
        width: 100vw;
        height: 10vh;
        overflow-x: hidden;
    }
    .header .logo {
        height: 3em;
        padding: 0;
        margin: 0;
    }
    .nav-links {
        display: none;
    }
    .nav-links a {
        text-decoration: none;
        font-size: 1em;
        color: blue;
        padding-inline: 1em;
    }
    .nav-links nav {
        width: 4em;
    }

    .expanded {
        display: flex;
    }
</style>
