---
---
<header class="Header">
    <img src="/koo_salon.svg" alt="Koo salon logo">
    <nav><a href="/">Home</a></nav>
    <nav><a href="/about">About</a></nav>
    <nav><a href="/faq">FAQ</a></nav>
    <nav><a href="/contact">Contact</a></nav>
</header>
<style>
    .Header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: gray;
        height: 10vh;
        
        position: relative;
        top: 0;
        left: 0;
        width: 100vw;
    }
    a {
        text-decoration: none;
        font-size: 1em;
        color: blue;
        padding-inline: 1em;
    }
    img {
        height:4em;
        padding: 0;
        margin: 0;
    }
</style>