---
---
<header class="Header">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/faq">FAQ</a>
    <a href="/contact">Contact</a>
</header>
<style>
    .Header {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: gray;
        height: 3em;
    }
    a {
        font-size: 1em;
        color: blue;
        padding-inline: 1.5em;
    }
</style>