---

---

<div class="hero">
    <div class="text">
        <h1 class="motto">Clean. Quick. Quality.</h1>
        <img src="./hero_photo.jpg" class="hero_photo" alt="girl getting hair styled">
        <h2 class="description">
            With decades of experience, we offer hair solutions and styling for any occasion,
            for a price that works.
        </h2>
        <h2 class="appointment">Visit Us</h2>
    </div>
</div>
<style>
    .hero {
        display: flex;
        place-items: flex-start;

        padding: 0;
        margin: 0;
        width: 100%;
        height: 91vh;

        background-image: url("../assets/logo_background.jpeg");
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .hero .text {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .motto {
        font-size: 2rem;
        margin-top: 8vh;
    }
    .hero_photo{
        height: 50vh;
    }

    .description {
        font-size: 1.2rem;
    }
    .appointment {
        border-style: solid;
        border-width: thin;
        border-radius: .5em;
        padding: .3em;
        margin: 0;
        box-shadow: inset;
    }
</style>
