---

---

<div class="hero">
    <div class="half">
        <h1 class="motto">Clean. Quick. Quality.</h1>
        <h2 class="description">
            Decades of experience. Hair solutions and styling for any occasion,
            for a price that works for you
        </h2>
    </div>
    <div class="half">blah blah blah</div>
</div>
<style>
    .hero {
        display: flex;
        place-items: flex-start;

        padding: 0;
        margin: 0;
        width: 100%;
        height: 80vh;

        background-image: url("../assets/logo_background.jpeg");
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .half {
        flex: 1;
    }
    .motto {
        font-size: 1.3rem;
    }

    .description {
        font-size: 1rem;
    }
</style>
