---

---

<div class="hero">
  <div class="text">
    <h1 class="motto">Clean. Quick. Quality.</h1>
    <img
      src="./hero_photo.jpg"
      class="hero_photo"
      alt="girl getting hair styled"
    />
    <h2 class="description">
      With decades of experience, we offer hair solutions and styling for any
      occasion, for a price that works.
    </h2>
    <h2 class="appointment">Visit Us</h2>
  </div>
</div>
<style>
  .hero {
    display: flex;
    justify-content: center; /* Correctly centers flex children horizontally */
    padding: 0;
    margin: 0;
    width: 100%;
    height: 90vh;
    position: relative;
    /* This is crucial for the 3D parallax effect to work on children */
    transform-style: preserve-3d;

    z-index: -1;
  }

  .hero::before {
    width: 100%;
    height: 90vh;
    content: '';
    position: absolute;
    inset: 0; /* shorthand for top, right, bottom, left = 0 */
    z-index: -1; /* Puts the pseudo-element behind the .hero's content */

    background-image: url('./logo_background.jpeg');
    background-size: cover;
    background-position: center;

    transform: translateZ(-100px) scale(2);
  }

  .hero .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .motto {
    font-size: 2rem;
    margin-top: 8vh;
  }
  .hero_photo {
    height: 50vh;
  }

  .description {
    font-size: 1.2rem;
    margin-inline: 5vw;
  }
  .appointment {
    border-style: solid;
    border-width: thin;
    border-radius: 0.5em;
    padding: 0.3em;
    margin: 0;
    box-shadow: inset;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  }
</style>
