---
const address = "westfield wheaton maryland";
const mapsUrl = `https://www.google.com/maps/search/?api=1&query=${encodeURIComponent(address)}`;
---

<div class="visiting" id="visiting">
    <h1>Visit Us</h1>
    <h2>
        We're located inside Wheaton Mall. <br />
        Find us on the ground floor next to Target!
    </h2>

    <div class="location">
        <h2 class="address">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1em" height="1em" aria-hidden="true" style="vertical-align: middle; margin-right: 0.25em;"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/></svg>
            11160 Veirs Mill Rd<br />
            Wheaton, MD 20902
        </h2>
        <a class="maps-link" href={mapsUrl} target="_blank">
            <h2>View on Google Maps</h2>
        </a>
    </div>

    <a class="number" href="tel:3019334522"><h2><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1em" height="1em" aria-hidden="true" style="vertical-align: middle; margin-right: 0.25em;"><path d="M6.62 10.79a15.05 15.05 0 006.59 6.59l2.2-2.2a1 1 0 011.01-.24c1.12.37 2.33.57 3.58.57a1 1 0 011 1V20a1 1 0 01-1 1C10.61 21 3 13.39 3 4a1 1 0 011-1h3.5a1 1 0 011 1c0 1.25.2 2.46.57 3.58a1 1 0 01-.25 1.01l-2.2 2.2z"/></svg>(301) 933-4522</h2></a>

    <table class="hours">
        <tr>
            <td>Monday</td>
            <td>10:00 AM - 8:00 PM</td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td>10:00 AM - 8:00 PM</td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>10:00 AM - 8:00 PM</td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>10:00 AM - 8:00 PM</td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>10:00 AM - 9:00 PM</td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td>10:00 AM - 9:00 PM</td>
        </tr>
        <tr>
            <td>Sunday</td>
            <td>11:00 AM - 7:00 PM</td>
        </tr>
    </table>
</div>

<style>
    .visiting {
        margin-inline: 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .location {
        color: black;
        font-size: 0.75em;
        margin-bottom: 0.75em;
    }
    .address {
        margin-bottom: 0;
    }
    .maps-link {
        color: black;
    }
    .maps-link h2 {
        margin: 0;
        font-style: italic;
        font-weight: bold;
    }

    .number {
        font-size: 0.75em;
        color: black;
        margin-bottom: 0.75em;
    }
    .number h2 {
        margin: 0;
    }

    .hours {
        margin-top: 0.4em;
        font-size: 1em;
        border-spacing: 0;
    }

    .hours td {
        padding-right: 1em;
    }
</style>
